Repository mnfst/manifest, pull requests merged in 2024-12, with the labels that each got.

#241 🧑‍💻 Launch manifest on dev mode without token secret key
  examples/README.md
  examples/main-demo/.gitignore
  examples/main-demo/manifest/backend.db
  packages/core/manifest/.env.contribution
  packages/core/manifest/src/auth/auth.service.ts
  packages/core/manifest/src/auth/tests/auth.service.spec.ts
  packages/core/manifest/src/config/general.ts
  packages/core/manifest/src/constants.ts
  packages/core/manifest/src/main.ts
Labels: enhancement

#244 feat: add form to admin panel
  packages/core/admin/src/app/modules/layout/side-menu/side-menu.component.html
  packages/core/admin/src/app/modules/layout/side-menu/side-menu.component.scss
  packages/core/admin/src/styles/components/_nav.scss
Labels: admin panel

#253 Feature/fixes and improvements dec 24
  .github/workflows/coverage.yml
  .github/workflows/hacktoberfest-label.yml
  package-lock.json
  packages/core/admin/package.json
  packages/core/admin/src/app/modules/shared/inputs/file-input/file-input.component.html
  packages/core/admin/src/app/modules/shared/inputs/file-input/file-input.component.ts
  packages/core/admin/src/app/modules/shared/inputs/image-input/image-input.component.ts
  packages/core/admin/src/app/modules/shared/services/upload.service.ts
  packages/core/admin/src/app/modules/shared/yields/image-yield/image-yield.component.ts
  packages/core/admin/src/app/modules/shared/yields/link-yield/link-yield.component.ts
  packages/core/admin/src/app/modules/shared/yields/yield.component.ts
  packages/core/admin/src/environments/environment.development.ts
  packages/core/admin/src/environments/environment.ts
  packages/core/manifest/src/config/general.ts
  packages/core/manifest/src/crud/services/crud.service.ts
  packages/core/manifest/src/storage/services/storage/storage.service.ts
  packages/core/manifest/src/storage/services/tests/storage.service.spec.ts
  packages/core/types/src/queries/WhereKeySuffix.ts
  packages/core/types/src/queries/WhereOperator.ts
  packages/core/types/src/queries/WhereOperatorKeySuffixRecord.ts
  packages/js-sdk/tests/crud.spec.ts
Labels: docs, api, core
